h1{
    color: red;
    font-family: fantasy;
}

body{
    margin: 0 auto;
    width: 80vw;
    height: 100vw;
    display:grid;
}


.box{
    background-color: lightcyan;
    height: 900px;
    width: 900px;
    margin:10px auto;
    padding: 50px;
    border: 5px solid black;

}

input{
    background-color: bisque;
    margin:auto;
    border:2px solid red;
}

select{
    background-color: bisque;
    margin:2px;
    border:2px solid red;
}
    

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    color: brown;
}

h2{
    color: chocolate;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}
